<!DOCTYPE html>
<html>
<head>
  <title>Pilgrim</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navigation">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li>Events</li>
  </ul>

</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
